.card {
  max-width: 300px;
  max-height: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
}

.card_title {
  background-color: black;
}

.card_description {
  display: inherit;
  background-color: black;
  justify-content: right;
  margin-right: 50px;
}

.card_image {
  max-height: 300px;
  width: 100%;
}

.card_button {
  width: 30px;
  border-radius: 10%;
  color: rgba(0, 0, 0, 0.545);
  box-shadow: 5px 5px;
}

.card_button:hover {
  background-color: gray;
  color: white;
}

.card_button:active {
  width: 35px;
  background-color: rgb(123, 3, 3);
}

.downvote:active {
  width: 35px;
  background-color: rgb(20, 20, 93);
}

.card_button img {
  display: flex;
  height: 15px;
  align-items: center;
}

.card_counter {
  display: inherit;
  justify-content: center;
  padding: 0;
  background-color: black;
  border-radius: 10px;
}

.card_erase {
  background-color: black;
  color: white;
  border-radius: 15px;
}

.card_erase:hover {
  background-color: rgb(123, 3, 3);
}

.card_erase:active {
  background-color: rgb(20, 20, 93);
  height: 30px;
  border-width: 5px;
  border-color: white;
}
